{% extends "@ApplicationProjectContent/base/base_web.html.twig" %}

{% block title %}
    list
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}

{% endblock %}


{% block body %}
    <div class="container" style="margin-top: 5%">
        <div class="row">

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Empresa</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_empresa_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Endereco</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_endereco_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Cliente</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_cliente_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo SetorAtuacao</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_setorAtuacao_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Solucao</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_solucao_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Projeto</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_projeto_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Departamento</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_departamento_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Contato</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_contato_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Curriculo</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_curriculo_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Cargo</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_cargo_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Objetivo</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_objetivo_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo SitesDesenvolvidos</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_sitesDesenvolvidos_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}




